h1 {
	background : white;
	color : 081272;
	font-family: Segoe UI;
	text-align : center;
	font-size: 27px;
}

h2 {
	color : A93CD4;
	font-family: Segoe UI;
	font-size: 22px;
}

p {
	color : F63E62;
	font-size: 20px;
}

ul {
	color : AA00A2;
	font-size: 20px;
}

{
	width: 170px;
	hight: 25px;
	color: D5BC71;
	font-size: 14;
	background-color: blue;
}